@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	background-color: #fefbd8;
	color: #3e958f;
	font-family: Oswald, Arial, sans-serif;
}
section {
	padding:5em 0;
}
h1 {
	font-size: 32px;
	font-style:italic;
}
h2 {
	font-size: 28px;
}
a{
	text-decoration: none;
	font-weight: bold;
	color: rgb(241, 75, 17);
}

nav{
	font-size: 24px;
}
#intro {
	text-align: center;
	padding: 0;
}

#menu{
	background: teal;
	opacity: .8;
	color: #fefbd8;
	margin: 0
	text-align: center;
	padding: 30px 0;
	line-height: 2em;
	font-size: 18px;
	float: center;

}